@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  margin:0;
  padding:0;
}

body {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/disco-75c0c1ef.png");
  color: white;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;

}


iframe {
  width: 100%;
  height: 60vh;
  border:none;
}

.links {
  color:gray;
}

.links em li a: hover {
    background-color: yellow;
}

.links em li a {
  background-color: #ed952a;
  border: 5px solid purple;
  padding:15px;
    float: left;
  color: white;

}
